.page-margin {
    width: 10%;
    height: 500px;
    float: left;
}

.page {
    width: 100%;
    height: fit-content;
    float: left;
    box-shadow: 0 1px 2px #666;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.central-column {
    width: 80%;
    height: fit-content;
    float: left;
}

.column {
    float: left;
}

.content-block {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.page-title {
    font-size: 3.5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.profile-pic {
    float: left;
    width: 25%;
    border-radius: 50%;
}

.main-header {
    vertical-align: middle;
}

.header-text {
    float: left;
    position: relative;
}

h3 {
    color: #91a6ff;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.award {
    color: grey;
}

.language {
    color: #B90E0A;
}

a[href] {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

h4 {
    margin-top: 15px;
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: normal;
}

.caption {
    font-style: italic;
    font-weight: normal;
    color: grey;
}

.timeline {
    color: grey;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 5px;
}

.experience-paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
}

#even-split {
    width: 50%;
}

#header-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

#header-profile-shot {
    width: 200px;
    left: 6%;
    margin-top: -105px;
    border-radius: 50%;
    border-width: 5px;
    border-color: white;
    box-shadow: 0 1px 5px #666;
    border-style: solid;
    z-index: 99;
    position: relative;
    margin-bottom: 10px;
}

#page-main {
    width: 60%;
}

#page-sidebar {
    width: 40%;
}

.content-block {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.profile-pic {
    float: left;
    width: 25%;
    border-radius: 50%;
}

.main-header {
    vertical-align: middle;
}

.header-text {
    float: left;
    position: relative;
}

h3 {
    color: #91a6ff;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.award {
    color: grey;
}

.language {
    color: #B90E0A;
}

h4 {
    margin-top: 15px;
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: normal;
}

.caption {
    font-style: italic;
    font-weight: normal;
    color: grey;
}

.timeline {
    color: grey;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 5px;
}

.experience-paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
}



.portfolio-clip {
    height: fit-content; 
    margin-top: 20px;  
    margin-bottom: 20px;
    box-shadow: 0 1px 2px #666;
    transition: box-shadow .3s;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio-clip:hover {
    box-shadow: 0 1px 6px #666;
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.menu-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 20px;
    height: 80px;
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
}

.menu-container {
    display: block;
    width: fit-content;
    position: relative;
    margin-top: 0px;
    float: right;
    margin-right: 15px;
}

.menu-item {
    margin-right: 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal !important;
    background-color: black;
    border-radius: 99999px;
}

.menu-item:hover {
    color: white;
}

.menu-item>a {
    color: white;
    vertical-align: center;
    text-align: center;
}

.menu-item>a>i {
    padding: 10px;

}

.menu {
    width: fit-content;
}

.social-icons {
    margin-left: 10px;
    position: relative;
    top: 10px;
}

.menu-container {
    box-shadow: 0 1px 2px #666;
    transition: box-shadow .3s;
}

.menu-container:hover {
    box-shadow: 0 1px 6px #666;
}

.menu {
    padding: 12px;
}

.in-clip-link {
    color: #91a6ff !important;
    font-weight: bold !important;
}

.in-clip-link:hover {
    color: #1f487e !important;
}

.portfolio-master-grid {
    width: 100%;
    height: fit-content;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

#header-page {
    margin-bottom: 0px;
    transition: box-shadow .3s;
}

#header-page:hover {
    box-shadow: 0 1px 5px #666;
}