svg {
  width: 300px;
  height: 450px;
  background-color: white;
}

path {
  fill: transparent;
  stroke: grey;
  stroke-dasharray: 0px;
  stroke-width: 3px;
}

path:hover {
  fill: transparent;
  stroke: #000;
  stroke-dasharray: 0px;
  stroke-width: 4px;
}

/* begin page style */

.dot {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}

.endpoint {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border-color: grey;
}

.dot-number {
    position: relative;
    top: 4px;
}

.dot-ten {
    position: relative;
    top: 4px;
}

.stack-right .dot-number {
    right: 8px;
}

.stack-right .dot-ten {
    right: 5px;
}

.stack-left .dot-number {
    left: 8px;
}

.stack-left .dot-ten {
    left: 5px;
}

.issue-label {
    margin-right: 5px;
    vertical-align: middle;
}

.stack-left {
    width: fit-content;
}

.stack-right {
    width: fit-content;
}

.stack-right > .issue-entry {
    text-align: right;
}

.stack-left > .issue-entry {
    text-align: left;
}

.column {
  float: left;
  width: fit-content;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.connector-path {
  position: absolute;
  transform: translate(-175px, -70px);
}

.middle-path {
  position: absolute;
  transform: translate(-550px, -70px);
}

.right-path {
  position: absolute;
  transform: translate(-920px, -70px);
}

.section-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.headline {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}

.viz-wrapper {
  width: 1205px;
  padding-left: 50px;
}

.bottom-text {
  font-size: 1.1em;
  line-height: 1.5em;
}

.section-breaker {
  height: 2px;
  background-color: #000000;
}

#breaker-democrat {
  height: 2px;
  background-color: blue;
}

#breaker-republican {
  height: 2px;
  background-color: red;
}

#header-republican {
  color: red;
}

#header-democrat {
  color: blue;
}

#svg-column {
  width: 200px;
}